/* START ROOT */

:root {
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(19, 19, 19);
  --clr-red: #D42648;
  --clr-black-trans: rgba(19, 19, 19, 0.815);
  --ff-primary: 'Yantramanav', sans-serif;
  --ff-secondary: 'Quicksand', sans-serif;
  --ff-6th: 'Abel', sans-serif;
  --ff-7th: 'Montserrat', sans-serif;
  }

/* END ROOT */

body {
  color: var(--clr-black);
  padding: 0;
  margin: 0;
  font-family: var(--ff-primary);
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

a{
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.csmt-white-color{
  color: var(--clr-white);
}

.graphics-image{
  border-radius: 15px;
}

.cstm-header-box{
  position: absolute;
  top: 100px;
  height: 59vw;
  width: 100%;
  background-image: url(./bg_flex05.png);
  background-size: cover;
  background-position: center;
  z-index: 0;
}


.cstm-header-container{
  height: 55vw;
}

.cstm-title{
  color: var(--clr-red);
  font-family: var(--ff-7th);
  font-size: 18vw;
  font-weight: 700;
  letter-spacing: -5px;
}

.cstm-sub-title{
  font-family: var(--ff-6th);
  font-weight: 200;
  font-size: 2vw;
}

.scroll-parent {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scroll-child {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a, h1, h2, div, span, ul, li {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

p {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.p-gap {
  margin-bottom: 1rem;
}

.white-space {
  white-space: nowrap;
}

.text-stretch {
  transform: scale(1, 0.9);
}

/* PORTFOLIO START */

.graphics-logo-box {
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.graphics-logo {
  position: relative;
  top: -0.7rem;
  padding: 0;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: 14vw;
  letter-spacing: -0.07em;
  max-width: 58rem;
  /* filter:blur(0.05rem); */
  line-height: 13vw;
}

.graphics-text-gap {
  padding-right: 1rem;
  width: 100%;
  margin-bottom: 0;
  font-weight: 100;
}

.graphics-logo-flex {
  display: flex;
  position: relative;
  top: 0;
  max-width: 58rem;
}

.graphics-logo img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.graphics {
  background-color: var(--clr-black);
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ),
        /* bottom, image */
        url(./bg_dust02.jpg);
  background-repeat: repeat;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.cstm-bg-grain{
  background-image: url(./noise_bg.png);
  opacity: 0.3;
  background-repeat: repeat;
  position: absolute;
  z-index: 1;
}

.graphics-gallery-item .portfolio-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.graphics-container {
  position: relative;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-auto-rows: 100px 170px;
  grid-gap: 10px;
  grid-auto-flow: dense;
  z-index: 2;
}

.graphics-gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.graphics-gallery-item .graphics-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.graphics-gallery-item .graphics-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.graphics-gallery-item:hover .graphics-image img {
  transform: scale(1.5);
}

.graphics-gallery-item .graphics-text {

  background-image: url(TVSTATICECCHE02.jpg);
  width: 100%;
  height: 100%;
  animation: tvnoise .5s steps(10) infinite;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3rem;
  transform: translate(-50%,-50%);
  color: var(--clr-white);
  font-family: var(--ff-6th);
  font-size: 20px;
  /* text-shadow: 2px 2px #000000;  */
  pointer-events: none;
  z-index: 4;
  transition: .3s ease-in-out;
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
}

@keyframes tvnoise {
  0%
  {
    background-position: 0 0;
  }
  100%
  {
    background-position: 100% 100%;
  }
}

.graphics-gallery-item:hover .graphics-text {
  opacity: 1;
  animation:  move-down .3s linear;
  padding: 8px 4px 8px 0px;
  width: 200%;
  animation: tvnoise .5s steps(10) infinite;
  opacity: 0.85;
}

/* WIDTH */

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.w-6 {
  grid-column: span 6;
}

.w-7 {
  grid-column: span 7;
}

.w-8 {
  grid-column: span 8;
}

.w-9 {
  grid-column: span 9;
}

.w-10 {
  grid-column: span 10;
}


/* HEIGHT */

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

.h-5 {
  grid-row: span 5;
}

.h-6 {
  grid-row: span 6;
}

.h-7 {
  grid-row: span 7;
}

.h-8 {
  grid-row: span 8;
}

.h-9 {
  grid-row: span 9;
}

.h-10 {
  grid-row: span 10;
}

@keyframes move-down {
  0%{
    top: 10%;
  }

  50%{
    top: 35%;
  }

  100%{
    top: 50%;
  }
}

@media screen and (min-width: 1920px){

  .graphics-logo {
    font-size: 17rem;
    line-height: 15rem;
  }

}

@media screen and (min-width: 1600px){

  .cstm-title{
    font-size: 18rem;
  }
  
  .cstm-sub-title{
    font-size: 2rem;
  }
  
}

@media screen and (max-width: 1400px){
  .graphics-gallery-item .graphics-text {
    font-size: 15px;
  }
  .graphics-gallery-item:hover .graphics-text {
    opacity: 1;
    animation:  move-down .3s linear;
    padding: 13px 4px 8px 0px;
    width: 200%;
    animation: tvnoise .5s steps(10) infinite;
    opacity: 0.85;
  }
  

}

@media screen and (max-width: 980px){

  .graphics-gallery-item .graphics-text {
    font-size: 12px;
  }

  .graphics-gallery-item:hover .graphics-text {
    opacity: 1;
    animation:  move-down .3s linear;
    padding: 14px 4px 8px 0px;
    width: 200%;
    animation: tvnoise .5s steps(10) infinite;
    opacity: 0.85;
  }

  .graphics-logo {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0 0 2vw 0;
    font-family: var(--ff-primary);
    font-size: 13.6vw;
    letter-spacing: -0.07em;
    background-color: var(--clr-black);
    max-width: 58rem;
    /* filter:blur(0.05rem); */
    line-height: 11vw;
  }

}

@media screen and (max-width: 767px) {

  .cstm-header-box{
    height: 59vw;
  }
  
  .cstm-header-container{
    height: 65vw;
  }

  .cstm-title{
    font-size: 20.5vw;
  }
  
  .cstm-sub-title{
    font-size: 4vw;
  }

  .graphics-gallery-item .graphics-text {
    font-size: 20px;
  }

  .graphics-logo {
    position: relative;
    top: -1rem;
    font-size: 27vw;
    line-height: 27vw;
    padding-top: 3.5rem;
    background-color: var(--clr-black-trans);
    height: 34vw;
  }

  .graphics-gallery-item:hover .graphics-text {
    opacity: 1;
    animation:  move-down .3s linear;
    padding: 20px 4px 8px 0px;
    width: 190%;
    animation: tvnoise .5s steps(10) infinite;
    opacity: 0.85;
  }

  .graphics-container {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 15vh;
    padding: 1%;
  }

  .graphics-gallery-item .graphics-image {
    position: relative;
    width: 95%;
    left: 2.5%;
  }

  .cstm-subtitles-container{
    display: none;
  }


  .title-03-line {
    display: none;
  }

  .w-1,.w-2,.w-3,.w-4,.w-5,.w-6 {
    grid-column:span 1;
  }

  .h-1,.h-2,.h-3,.h-4,.h-5,.h-6 {
    grid-row:span 2;
  }

  .graphics-logo-box {
    position: fixed;
    top: -1rem;
    text-align: center;
    z-index: 1000;
    height: 13rem;
  }

  .graphics-logo-flex {
    display: none;
  }

  .graphics-gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .graphics-gallery-item .graphics-text {
    height: 2rem;
  }
  
  
  .graphics-gallery-item:hover .graphics-text {
    padding: 0px 4px 8px 0px;
  }

  .graphics-gallery-container{
    margin: 1% 0;
  }
  
}

/* PORTFOLIO END */
